
    <body>
        <div class="element-homepage">
            <div class="div">
                <div class="overlap">
                    <div class="luxury-home-with"></div>
                    <div class="group">
                        <div class="overlap-group">
                            <div class="luxury-home-with-2"></div>
                            <div class="rectangle"></div>
                            <div class="overlap-group-wrapper">
                                <div class="go-wrapper"><div class="go">GO</div></div>
                            </div>
                            <div class="guests-rooms">Guests &amp; Rooms</div>
                            <div class="overlap-wrapper">
                                <div class="overlap-2">
                                    <div class="overlap-group-2">
                                        <div class="vector-wrapper"><img class="vector" src="/assets/vector-31.svg" /></div>
                                        <div class="text-wrapper">Use Map Instead</div>
                                    </div>
                                    <div class="text-wrapper-2">Destination</div>
                                </div>
                            </div>
                            <div class="div-wrapper">
                                <div class="overlap-3">
                                    <div class="group-2">
                                        <div class="overlap-group-3">
                                            <div class="text-wrapper-2">Check-In</div>
                                            <img class="img" src="/assets/vector-25.svg" />
                                        </div>
                                    </div>
                                    <div class="group-3">
                                        <div class="text-wrapper-3">Check-Out</div>
                                        <img class="vector-2" src="/assets/vector-25.svg" />
                                    </div>
                                    <img class="vector-3" src="/assets/vector-5-2.svg" />
                                </div>
                            </div>
                            <div class="text-wrapper-4">Find Your Destination</div>
                        </div>
                    </div>
                    <p class="welcome-to">Welcome To Roomieconnect<br />and Enjoy The Comfort</p>
                    <p class="p">Book Unique Stays and Experiences with Us!</p>
                    <img class="vector-4" src="/assets/vector-27.svg" />
                </div>
                <div class="overlap-4">
                    <img class="img-2" src="/assets/subtract-3.svg" />
                    <img class="border" src="/assets/border.svg" />
                    <img class="img-2" src="/assets/union.svg" />
                    <img class="img-2" src="/assets/union-2.svg" />
                    <img class="img-2" src="/assets/union-3.svg" />
                    <img class="img-2" src="/assets/union-5.svg" />
                    <img class="img-2" src="/assets/union-4.svg" />
                    <img class="img-2" src="/assets/subtract-6.svg" />
                    <img class="img-2" src="/assets/subtract.svg" />
                    <p class="text-wrapper-5">Featured Stays: Handpicked for You</p>
                </div>
                <div class="overlap-5">
                    <div class="menu">
                        <div class="overlap-group-4">
                            <img class="subtract" src="/assets/subtract-4.svg" /> <img class="subtract" src="/assets/subtract-2.svg" />
                        </div>
                    </div>
                    <div class="group-4">
                        <div class="group-5">
                            <div class="text-wrapper-6">About Us</div>
                            <div class="blogs-news">Blogs &amp; News</div>
                            <div class="text-wrapper-7">List Your Properties</div>
                        </div>
                        <div class="group-6">
                            <div class="overlap-group-5">
                                <div class="text-wrapper-8">Profile</div>
                                <div class="group-wrapper"><img class="group-7" src="/assets/group-2.png" /></div>
                                <img class="vector-5" src="/assets/vector-5.svg" />
                            </div>
                        </div>
                        <div class="logo">
                        	<svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
							<rect x="-0.000488281" y="0.21875" width="54.5625" height="54.5625" rx="12.1572" fill="#424DF7"/>
							<path d="M31.3411 28.4937C35.4779 27.0425 35.7614 23.2441 34.4484 20.63C33.3475 18.433 31.3006 17.5465 28.9558 17.4774C26.1011 17.3964 19.4289 17.4774 19.4289 17.4774L19.3931 37.413H22.4552C22.4552 37.413 22.4504 31.4771 22.4504 29.597C24.4402 29.597 26.2702 29.4421 28.0646 29.6351C30.3927 29.8853 30.9193 30.5287 31.3602 32.945C31.4126 33.2333 31.6747 34.2294 31.8916 35.7711C31.9654 36.3025 32.0512 37.4511 32.9567 37.413H35.0609C34.8821 36.0952 34.7177 34.9728 34.5771 33.8457C34.3031 31.632 34.0791 29.3968 31.3435 28.4913L31.3411 28.4937ZM28.3267 27.2403H22.4361V19.7793H28.3243C30.3856 19.7793 32.0536 21.4498 32.0536 23.5086C32.0536 25.5674 30.3832 27.2379 28.3243 27.2379L28.3267 27.2403Z" fill="white"/>
							</svg>
                        </div>
                        <div class="text-wrapper-9">Roomieconnect</div>
                        <div class="group-8">
                            <div class="overlap-6">
                                <div class="group-9">
                                    <div class="img-wrapper"><img class="group-10" src="/assets/group.png" /></div>
                                </div>
                                <div class="group-11">
                                    <div class="overlap-7"><div class="text-wrapper-10">6</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-12">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-523-7.png" />
                        <div class="group-13">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-32.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-12">The Phoenician, a Luxury...</div>
                        <div class="text-wrapper-13">Phoenix</div>
                    </div>
                </div>
                <div class="group-15">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-523-3.png" />
                        <div class="group-16">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-32.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">The Ritz-Carlton</div>
                        <div class="text-wrapper-15">San Francisco</div>
                    </div>
                </div>
                <div class="group-17">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-523-10.png" />
                        <div class="group-13">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-19.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-16">The Phoenician, a Luxury</div>
                        <div class="text-wrapper-15">Phoenix</div>
                    </div>
                </div>
                <div class="group-18">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-3453.png" />
                        <div class="group-13">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-18.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">Four Seasons Hotel</div>
                        <div class="text-wrapper-15">Boston</div>
                    </div>
                </div>
                <div class="group-19">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-3453-2.png" />
                        <div class="group-16">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-38.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">The Crawford Hotel</div>
                        <div class="text-wrapper-15">Denver</div>
                    </div>
                </div>
                <div class="group-20">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-3453-3.png" />
                        <div class="group-13">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-29.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">Four Seasons Hotel</div>
                        <div class="text-wrapper-17">Boston</div>
                    </div>
                </div>
                <div class="group-21">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-3454.png" />
                        <div class="group-13">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-22.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">Waldorf Astoria Orlando</div>
                        <div class="text-wrapper-15">Orlando</div>
                    </div>
                </div>
                <div class="group-22">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-3454-3.png" />
                        <div class="group-16">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-14.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">Windsor Court Hotel</div>
                        <div class="text-wrapper-15">Orleans</div>
                    </div>
                </div>
                <div class="group-23">
                    <div class="overlap-8">
                        <div class="rectangle-2"></div>
                        <img class="rectangle-3" src="/assets/rectangle-3454-2.png" />
                        <div class="group-13">
                            <div class="group-14">
                                <div class="text-wrapper-11">(7)</div>
                                <img class="vector-7" src="/assets/vector-32.svg" />
                            </div>
                        </div>
                        <div class="text-wrapper-14">Waldorf Astoria Orlando</div>
                        <div class="text-wrapper-15">Orlando</div>
                    </div>
                </div>
                <div class="overlap-9">
                    <div class="text-wrapper-18">Explore Homes Nearby</div>
                    <div class="group-24">
                        <div class="group-25">
                            <div class="label-wrapper"><div class="label">VIEW ALL</div></div>
                        </div>
                    </div>
                    <div class="group-26">
                        <div class="overlap-10">
                            <div class="group-27">
                                <div class="overlap-group-6">
                                    <div class="group-28">
                                        <div class="text-wrapper-11">(55)</div>
                                        <img class="vector-7" src="/assets/vector-32.svg" />
                                    </div>
                                    <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                    <div class="sleep-BR-BA">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                    <img class="rectangle-4" src="/assets/rectangle-523-11.png" />
                                    <img class="vector-8" src="/assets/vector-15.svg" />
                                    <img class="line" src="/assets/line-50-8.svg" />
                                    <div class="group-29">
                                        <div class="text-wrapper-20">$244.00</div>
                                        <div class="text-wrapper-21">$270.00</div>
                                    </div>
                                    <div class="text-wrapper-22">From</div>
                                </div>
                            </div>
                            <div class="group-30">
                                <div class="element-off-wrapper"><div class="element-off">10% Off</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="group-31">
                        <div class="group-32">
                            <div class="overlap-group-6">
                                <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                <div class="sleep-BR-BA-2">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                <img class="rectangle-4" src="/assets/rectangle-523-5.png" />
                                <div class="group-33">
                                    <div class="text-wrapper-11">(125)</div>
                                    <img class="vector-7" src="/assets/vector-32.svg" />
                                </div>
                                <img class="vector-8" src="/assets/vector-37.svg" />
                                <img class="line" src="/assets/line-50-4.svg" />
                                <div class="group-29">
                                    <div class="text-wrapper-20">$244.00</div>
                                    <div class="text-wrapper-21">$270.00</div>
                                </div>
                                <div class="text-wrapper-22">From</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-34">
                        <div class="overlap-10">
                            <div class="group-27">
                                <div class="overlap-group-6">
                                    <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                    <div class="sleep-BR-BA">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                    <img class="rectangle-4" src="/assets/rectangle-523-4.png" />
                                    <div class="group-35">
                                        <div class="text-wrapper-11">(7)</div>
                                        <img class="vector-7" src="/assets/vector-32.svg" />
                                    </div>
                                    <img class="vector-8" src="/assets/vector-11.svg" />
                                    <img class="line" src="/assets/line-50-3.svg" />
                                    <div class="group-29">
                                        <div class="text-wrapper-20">$244.00</div>
                                        <div class="text-wrapper-21">$270.00</div>
                                    </div>
                                    <div class="text-wrapper-22">From</div>
                                </div>
                            </div>
                            <div class="group-30">
                                <div class="element-off-wrapper"><div class="element-off">10% Off</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="group-36">
                        <div class="group-32">
                            <div class="overlap-group-6">
                                <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                <div class="sleep-BR-BA-2">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                <img class="rectangle-4" src="/assets/rectangle-523-2.png" />
                                <div class="group-33">
                                    <div class="text-wrapper-11">(125)</div>
                                    <img class="vector-7" src="/assets/vector-32.svg" />
                                </div>
                                <img class="vector-8" src="/assets/vector-36.svg" />
                                <img class="line" src="/assets/line-50-6.svg" />
                                <div class="group-29">
                                    <div class="text-wrapper-20">$244.00</div>
                                    <div class="text-wrapper-21">$270.00</div>
                                </div>
                                <div class="text-wrapper-22">From</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-37">
                        <div class="group-32">
                            <div class="overlap-group-6">
                                <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                <div class="sleep-BR-BA">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                <img class="rectangle-4" src="/assets/rectangle-523-6.png" />
                                <div class="group-28">
                                    <div class="text-wrapper-11">(56)</div>
                                    <img class="vector-7" src="/assets/vector-32.svg" />
                                </div>
                                <img class="vector-8" src="/assets/vector.svg" />
                                <img class="line" src="/assets/line-50-5.svg" />
                                <div class="group-29">
                                    <div class="text-wrapper-20">$244.00</div>
                                    <div class="text-wrapper-21">$270.00</div>
                                </div>
                                <div class="text-wrapper-22">From</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-38">
                        <div class="group-32">
                            <div class="overlap-group-6">
                                <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                <div class="sleep-BR-BA-2">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                <img class="rectangle-5" src="/assets/rectangle-523-9.png" />
                                <div class="group-39">
                                    <div class="text-wrapper-11">(2153)</div>
                                    <img class="vector-7" src="/assets/vector-32.svg" />
                                </div>
                                <img class="vector-8" src="/assets/vector-28.svg" />
                                <img class="line" src="/assets/line-50-7.svg" />
                                <div class="group-29">
                                    <div class="text-wrapper-20">$244.00</div>
                                    <div class="text-wrapper-21">$270.00</div>
                                </div>
                                <div class="text-wrapper-22">From</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-40">
                        <div class="group-32">
                            <div class="overlap-group-6">
                                <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                <div class="sleep-BR-BA">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                <img class="rectangle-4" src="/assets/rectangle-523-8.png" />
                                <div class="group-28">
                                    <div class="text-wrapper-11">(64)</div>
                                    <img class="vector-7" src="/assets/vector-32.svg" />
                                </div>
                                <img class="vector-8" src="/assets/vector-23.svg" />
                                <img class="line" src="/assets/line-50.svg" />
                                <div class="group-29">
                                    <div class="text-wrapper-20">$244.00</div>
                                    <div class="text-wrapper-21">$270.00</div>
                                </div>
                                <div class="text-wrapper-22">From</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-41">
                        <div class="group-32">
                            <div class="overlap-group-6">
                                <p class="text-wrapper-19">Harbourview, Dartmouth, Nova Scotia, Cana...</p>
                                <div class="sleep-BR-BA-2">Sleep 2&nbsp;&nbsp;|&nbsp;&nbsp;BR 1&nbsp;&nbsp;|&nbsp;&nbsp;BA 1</div>
                                <img class="rectangle-4" src="/assets/rectangle-523.png" />
                                <div class="group-42">
                                    <div class="text-wrapper-11">(356)</div>
                                    <img class="vector-7" src="/assets/vector-32.svg" />
                                </div>
                                <img class="vector-8" src="/assets/vector-26.svg" />
                                <img class="line" src="/assets/line-50-2.svg" />
                                <div class="group-29">
                                    <div class="text-wrapper-20">$244.00</div>
                                    <div class="text-wrapper-21">$270.00</div>
                                </div>
                                <div class="text-wrapper-22">From</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-43">
                    <div class="group-44">
                        <div class="text-wrapper-23">Stories of Unforgettable Stays</div>
                        <p class="text-wrapper-24">
                            Discover why they rave about their stays and adventures. Their stories are a testament to the exceptional
                            memories that await you.
                        </p>
                    </div>
                    <div class="group-45">
                        <div class="group-46">
                            <div class="overlap-11">
                                <div class="star">
                                    <div class="icon"><img class="icon-2" src="/assets/icon-8.svg" /></div>
                                    <div class="icon-wrapper"><img class="icon-2" src="/assets/icon-2.svg" /></div>
                                    <div class="icon-3"><img class="icon-2" src="/assets/icon.svg" /></div>
                                    <div class="icon-4"><img class="icon-2" src="/assets/icon-9.svg" /></div>
                                    <div class="icon-5"><img class="icon-2" src="/assets/icon-4.svg" /></div>
                                </div>
                                <p class="designspace-is-a-rea">
                                    I&#39;ve traveled the world, but finding hidden gems on this platform made my trips truly
                                    unforgettable. From cozy cabins to chic city apartments, every stay has been a delight!
                                </p>
                                <div class="group-47">
                                    <img class="base" src="/assets/base-4.png" />
                                    <div class="overlap-group-7">
                                        <div class="text-wrapper-25">Angela Karamoy</div>
                                        <div class="text-wrapper-26">Happy Customer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-48">
                            <div class="overlap-11">
                                <div class="star">
                                    <div class="icon"><img class="icon-2" src="/assets/icon-11.svg" /></div>
                                    <div class="icon-wrapper"><img class="icon-2" src="/assets/icon-10.svg" /></div>
                                    <div class="icon-3"><img class="icon-2" src="/assets/icon-12.svg" /></div>
                                    <div class="icon-4"><img class="icon-2" src="/assets/icon-3.svg" /></div>
                                    <div class="icon-5"><img class="icon-2" src="/assets/icon-13.svg" /></div>
                                </div>
                                <p class="designspace-is-a-rea">
                                    I&#39;ve traveled the world, but finding hidden gems on this platform made my trips truly
                                    unforgettable. From cozy cabins to chic city apartments, every stay has been a delight!
                                </p>
                                <div class="group-47">
                                    <img class="base" src="/assets/base-2.png" />
                                    <div class="overlap-group-7">
                                        <div class="text-wrapper-25">Angela Karamoy</div>
                                        <div class="text-wrapper-26">Happy Customer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-49">
                            <div class="overlap-11">
                                <div class="star">
                                    <div class="icon"><img class="icon-2" src="/assets/icon-6.svg" /></div>
                                    <div class="icon-wrapper"><img class="icon-2" src="/assets/icon-15.svg" /></div>
                                    <div class="icon-3"><img class="icon-2" src="/assets/icon-5.svg" /></div>
                                    <div class="icon-4"><img class="icon-2" src="/assets/icon-7.svg" /></div>
                                    <div class="icon-5"><img class="icon-2" src="/assets/icon-14.svg" /></div>
                                </div>
                                <p class="designspace-is-a-rea">
                                    I&#39;ve traveled the world, but finding hidden gems on this platform made my trips truly
                                    unforgettable. From cozy cabins to chic city apartments, every stay has been a delight!
                                </p>
                                <div class="group-47">
                                    <img class="base" src="/assets/base.png" />
                                    <div class="overlap-group-7">
                                        <div class="text-wrapper-25">Angela Karamoy</div>
                                        <div class="text-wrapper-26">Happy Customer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-50">
                            <div class="ellipse"></div>
                            <div class="ellipse-2"></div>
                            <div class="ellipse-3"></div>
                            <div class="ellipse-4"></div>
                            <div class="ellipse-5"></div>
                        </div>
                    </div>
                    <img class="vector-9" src="/assets/vector-17.svg" />
                    <img class="vector-10" src="/assets/vector-21.svg" />
                </div>
                <div class="group-51">
                    <div class="text-wrapper-27">Hotels In Top cities</div>
                    <div class="overlap-12">
                        <div class="rectangle-6"></div>
                        <div class="text-wrapper-28">Chicago</div>
                    </div>
                    <div class="overlap-13">
                        <div class="rectangle-6"></div>
                        <div class="text-wrapper-29">New York</div>
                    </div>
                    <div class="overlap-14">
                        <div class="rectangle-7"></div>
                        <div class="text-wrapper-30">San Diego</div>
                    </div>
                    <div class="overlap-15">
                        <div class="rectangle-6"></div>
                        <div class="text-wrapper-31">Seattle</div>
                    </div>
                    <div class="overlap-16">
                        <div class="rectangle-6"></div>
                        <div class="text-wrapper-32">Washington, DC</div>
                    </div>
                    <img class="vector-11" src="/assets/vector-2.svg" />
                    <img class="vector-12" src="/assets/vector-7.svg" />
                </div>
                <div class="group-52">
                    <div class="read-more">READ MORE</div>
                    <div class="blogs-news-2">Blogs &amp; News</div>
                    <img class="rectangle-8" src="/assets/rectangle-3458.png" />
                    <p class="documentation-travel">Documentation &amp; Travel Expenses go in hand to hand</p>
                    <div class="group-53">
                        <div class="text-wrapper-33">21 July 2023</div>
                        <img class="vector-13" src="/assets/vector-8.svg" />
                    </div>
                    <div class="group-54">
                        <div class="rectangle-wrapper"><div class="rectangle-9"></div></div>
                        <p class="text-wrapper-34">Things to take care while Traveling in long destinations.</p>
                        <div class="text-wrapper-35">21 July 2023</div>
                        <div class="read-more-2">READ MORE</div>
                        <img class="vector-14" src="/assets/vector-12.svg" />
                    </div>
                    <div class="group-55">
                        <img class="rectangle-10" src="/assets/rectangle-3460.png" />
                        <p class="text-wrapper-36">Traveling alone with the best Accomomations</p>
                        <div class="text-wrapper-35">21 July 2023</div>
                        <div class="read-more-2">READ MORE</div>
                        <img class="vector-15" src="/assets/vector-30.svg" />
                    </div>
                </div>
                <div class="rectangle-11"></div>
                <div class="group-56">
                    <p class="text-wrapper-37">© 2023 All Rights Reserved. Roomieconnect</p>
                    <div class="terms-conditions">
                        Terms &amp; Conditions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Private Policy
                    </div>
                    <img class="line-2" src="/assets/line-34.svg" />
                    <p class="list-your-property">
                        List your property<br />Book with Confidence<br />Trust &amp; Safety<br />Partner resources<br />Vacation
                        rental guides
                    </p>
                    <div class="text-wrapper-38">Explore Roomieconnect</div>
                    <div class="about-careers">About<br />Careers<br />Affiliates<br />Media Center<br />Advertising</div>
                    <div class="text-wrapper-39">Company</div>
                    <div class="text-wrapper-40">Follow Us</div>
                    <p class="text-wrapper-41">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim cursus nulla sit amet
                        sollicitudin.
                    </p>
                    <div class="group-57">
                        <div class="facebook-instagram">Facebook<br />Instagram<br />Twitter</div>
                        <img class="group-58" src="/assets/group-7016.png" />
                    </div>
                    <div class="logo-2">
                    	<svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
						<rect x="-0.000488281" y="0.21875" width="54.5625" height="54.5625" rx="12.1572" fill="#424DF7"/>
						<path d="M31.3411 28.4937C35.4779 27.0425 35.7614 23.2441 34.4484 20.63C33.3475 18.433 31.3006 17.5465 28.9558 17.4774C26.1011 17.3964 19.4289 17.4774 19.4289 17.4774L19.3931 37.413H22.4552C22.4552 37.413 22.4504 31.4771 22.4504 29.597C24.4402 29.597 26.2702 29.4421 28.0646 29.6351C30.3927 29.8853 30.9193 30.5287 31.3602 32.945C31.4126 33.2333 31.6747 34.2294 31.8916 35.7711C31.9654 36.3025 32.0512 37.4511 32.9567 37.413H35.0609C34.8821 36.0952 34.7177 34.9728 34.5771 33.8457C34.3031 31.632 34.0791 29.3968 31.3435 28.4913L31.3411 28.4937ZM28.3267 27.2403H22.4361V19.7793H28.3243C30.3856 19.7793 32.0536 21.4498 32.0536 23.5086C32.0536 25.5674 30.3832 27.2379 28.3243 27.2379L28.3267 27.2403Z" fill="white"/>
						</svg>
                    </div>
                    <div class="text-wrapper-42">Roomieconnect</div>
                </div>
                <div class="group-59">
                    <div class="group-60">
                        <div class="overlap-group-8">
                            <img class="base-2" src="/assets/base-2.png" />
                            <img class="base-3" src="/assets/base-3.png" />
                            <img class="base-4" src="/assets/base-5.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
